<!doctype html>
<title>N SERVICES</title>
<body style="background: {{ color }};"></body>
<div style="color: #e4e4e4;
    text-align:  center;
    height: 90px;
    vertical-align:  middle;">
{% if name %}
  <h1>Hello, Guys !!!</h1>
    <h1> This is Trial Page for Jenkin Pipeline </h1>
    <h2> 24 PDS 020<h2>
    <h3> This page is not updated<h3>
{% else %}
  <h1>Hello, World!</h1>
{% endif %}

  {% if contents %}
  <textarea rows="10" cols="50">
    {{ contents }}
  </textarea>
  {% endif %}

</div>
